<ul *ngIf="data.length !=0">
    <li *ngFor = "let item of data">
       
 <button (click) =  handleRemoveWishList(item) (click)="reloadCurrentPage()" >Remove</button>      
 <youtube-player 
       
  videoId= {{item.id}}
  suggestedQuality="highres" 
  [height]="200" 
  [width]="200" 
  [startSeconds]="2"
	[endSeconds]="150">
</youtube-player>

</li>
<button  routerLink="/Search" class="btn btn-primary">Add Again</button>
</ul>





<ng-container *ngIf ="data.length==0">
    <div id="content" class="container">
        <div class="card">
            <h5 class="card-title">My Fav</h5> 
    
        </div>
    
    <div class="center">
        <img src="https://cdn.xxl.thumbs.canstockphoto.com/flat-design-empty-heart-shaped-box-icon-vector-illustration-image_csp39226178.jpg">
        <h4>No Favourte added</h4>
        <h6>Add Favourte</h6>
        <button  routerLink="/Search" class="btn btn-primary">Add Now</button>
    </div>
    
    </div>
    </ng-container>